.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards-layout-one  .cards > ul > li img {
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: auto;
  max-width: 100%;
  margin-top: 33px;
  aspect-ratio: 1;
}

.cards-layout-one .cards .cards-card-image{
  display: flex;
  justify-content: center;
}

.cards-layout-one .cards > ul > li {
  position: relative;
}
.cards-layout-one .cards .cards-card-body p:first-child {
  position: absolute;
  top: -45px;
  right: 20px;
  font-size: 50px;
  font-weight: 700;
  color: #dddddd;
  transition: .5s;
}
.cards-layout-one .cards .cards-card-body p:nth-child(2) {
  font-size: 21px;
}
.cards-layout-one .cards .cards-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards-layout-one .cards .cards-card-body p{
  text-align: center;
}
.cards-layout-one .cards .cards-card-body p:last-child,
.cards-layout-two .cards .cards-card-body p:last-child {
  color: #74787C;
  font-size: 16px;
}
.cards-layout-two .cards > ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 18px;
  margin: 0 auto;
  padding: 40px;
}
.cards-layout-two .cards > ul > li{
  padding: 20px;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.2);
}
.cards-layout-two .cards .cards-card-body p:first-child {
  position: relative;
  top: 0;
  right: 0;
  font-size: 21px;
  color: #000;
  text-align: center;
}

